/*
*************************************************************
So I'm going to go at this problem with the assumption
that you want it everything to be nested under #social-widget.
I'll also assume that the different themes are dealt with
separate css files and not extending existing ones.
Depending how the widgets are added to the site I would probably
go with different options. Probably either dynamically create
the css above the widget container and use a variable to create
the wrapper id and the rules thereof OR by using a base css file
and use dynamically created css directly to the widget itself
based on the input from the cms.
*************************************************************
*/
/*
*************************************************************
* Helpers
*************************************************************
*/
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
.clearfix { display: inline-block; }
* html .clearfix { height: 1%; }
.clearfix { display: block; }

#social-widget-wrap {
    padding: 20px;
    font-family: 'Lato', sans-serif;
    letter-spacing: .02em;
}

#social-widget {
    background: #fff;
    width: 100%;
    position: relative;
    border-radius: 8px;
    border: 1px solid #e7e7e7;
    overflow: hidden;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.2);
}

#social-widget header {
    background: #57bc90;
}

#social-widget header h2 {
    float: left;
    font-size: 24px;
    text-transform: uppercase;
    padding: 10px;
    color: #fff;
    font-weight: 900;
    text-shadow: 0px 3px 6px rgba(0,0,0,0.4);
}

#social-widget section {
    padding: 0 10px;
}

#social-widget section ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

#social-widget section ul li {
    padding: 5px;
    max-width: 290px;
    min-width: 180px;
    width: 25%;
    box-sizing: border-box;
}

#social-widget section ul li img {
    width: 100%;
    border-radius: 6px;
    overflow: hidden;
}

#social-widget footer {
    padding: 10px;
    background: #57bc90;
}

#social-widget footer p {
    color: #343434;
    text-align: center;
}

/*
*************************************************************
* Additional stuff
*************************************************************
*/
.control-button {
    padding: 6px 0;
    text-align: center;
    border-radius: 6px;
    color: #fff;
    border: 1px solid #fff;
    margin: 7px 10px 0 0;
    float: right;
    cursor: pointer;
    width: 148px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.control-button:hover {
    color: #57bc90;
    background-color: #fff;
}
/*
*************************************************************
* Media Queries
*************************************************************
*/
@media screen and (max-width: 580px) {
    #social-widget section ul li {
        width: 100%;
    }
    #social-widget header h2 {
        float: none;
        text-align: center;
    }
    .control-button {
        margin: 0 10px 5px;
        font-size: 14px;
        width: 115px;
    }
    .add-image {
        float: left;
    }
    .remove-image {
        float: right;
    }
}

